* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsla(225, 27%, 13%, 1);
    color: #dad6d6;
    padding: 10vh;
}
h1 {
    margin-bottom: 10px;
    text-align: center;
}
hr {
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
}
#container {
    margin: auto;
    padding: 2vh;
    background-color: hsla(225, 43%, 25%, 1);
    width: 80%;
}
#movie {
    display: none;
}
#gifCanvas {
    display: none;
}
#preview {
    width: 600px;
    height: 500px;
}
#outputGif {
    display: none;
    margin: auto;
    width: 80%;
    height: 80%;
}
#progressBar {
    width: 100%;
    height: 5%;
    margin: 2% 0px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#download {
    display: none;
    margin: auto;
    width: 30vw;
    padding: 3%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #4053be;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #ffffff;
}